<div class="container container-bg  py-3 mt-2 shadow-sm">
  <main>
    <div class="row g-5">
      <div class="col-md-12 col-lg-12">
        <div class="text-center py-5 header-bg">
          <img src="../{{imgUrl}}/assets/img/Suzuki_Motor_Corporation_logo.svg.png" alt="" height="57">
        </div>
        <h4 class="my-3 text-primary">ข้อมูลของท่านที่ถูกจัดเก็บ</h4>
        <form [formGroup]="angForm" #userForm="ngForm" (ngSubmit)="handleSubmitForm(userForm.value)" novalidate
          class="needs-validation">
          <div class="row g-3">
            <div class="col-sm-6">
              <label for="uCard" class="form-label">หมายเลขบัตรประชาชน</label>
              <div class="input-group has-validation">
                <span class="input-group-text">
                  <fa-icon [icon]="faAddressCard"></fa-icon>
                </span>
                <input type="text" class="form-control" id="uCard" formControlName="uCard" autocomplete="off"
                  ngModel="{{_uCard}}" value="{{_uCard}}" maxlength="13" placeholder="กรอกหมายเลขบัตรประชาชน">
              </div>
              <div
                *ngIf="angForm.controls['uCard'].invalid && (angForm.controls['uCard'].dirty || angForm.controls['uCard'].touched)"
                class="text-danger">
                <div class="m-0" *ngIf="angForm.controls['uCard'].errors?.['required']">
                  กรุณากรอกหมายเลขบัตรประชาชน.
                </div>
                <div class="m-0"
                  *ngIf="angForm.controls['uCard'].errors?.['pattern'] || angForm.controls['uCard'].errors?.['minlength']">
                  กรุณากรอกหมายเลขให้ครบ 13 หลัก.
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <label for="uFullName" class="form-label">ชื่อ-นามสกุล ผู้เอาประกันภัย</label>
              <div class="input-group has-validation">
                <span class="input-group-text">
                  <fa-icon [icon]="faUser"></fa-icon>
                </span>
                <input type="text" class="form-control" id="uFullName" ngModel formControlName="uFullName"
                  ngModel="{{_uFullName}}" value="{{_uFullName}}" placeholder="กรอกชื่อ-นามสกุล ผู้เอาประกันภัย"
                  value="">
              </div>
              <div
                *ngIf="angForm.controls['uFullName'].invalid && (angForm.controls['uFullName'].dirty || angForm.controls['uFullName'].touched)"
                class="text-danger">
                <div *ngIf="angForm.controls['uFullName'].errors?.['required']">
                  กรุณากรอกชื่อ-นามสกุล ผู้เอาประกันภัย.
                </div>
              </div>
            </div>

            <div class="col-sm-4">
              <label for="uTel" class="form-label">เบอร์โทรศัพท์</label>
              <div class="input-group has-validation">
                <span class="input-group-text">
                  <fa-icon [icon]="faPhone"></fa-icon>
                </span>
                <input type="tel" class="form-control" id="uTel" ngModel formControlName="uTel" maxlength="10"
                  ngModel="{{_uTel}}" value="{{_uTel}}" autocomplete="off" placeholder="กรอกเบอร์โทรศัพท์" value="">
              </div>
              <div *ngIf="angForm.controls['uTel'].invalid && angForm.controls['uTel'].touched" class="text-danger">
                <div *ngIf="angForm.controls['uTel'].errors?.['required']">
                  กรุณากรอกเบอร์โทรศัพท์.
                </div>
                <div
                  *ngIf="angForm.controls['uTel'].errors?.['pattern'] || angForm.controls['uTel'].errors?.['minlength']">
                  กรุณากรอกเบอร์ให้ครบ.
                </div>
              </div>
            </div>
            <div class="col-sm-4">
              <label for="uCarBody" class="form-label">เลขตัวถังรถยนต์</label>
              <div class="input-group has-validation">
                <span class="input-group-text">
                  <fa-icon [icon]="faCar"></fa-icon>
                </span>
                <input type="email" class="form-control" id="uCarBody" ngModel formControlName="uCarBody"
                  ngModel="{{_uCarBody}}" value="{{_uCarBody}}" placeholder="กรอกเลขตัวถังรถยนต์" value="">
              </div>
              <div
                *ngIf="angForm.controls['uCarBody'].invalid && (angForm.controls['uCarBody'].dirty || angForm.controls['uCarBody'].touched)"
                class="text-danger">
                <div *ngIf="angForm.controls['uCarBody'].errors?.['required']">
                  กรุณากรอกเลขตัวถังรถยนต์.
                </div>
                <div *ngIf="angForm.controls['uCarBody'].errors?.['pattern']">
                  ไม่อนุญาติกรอกภาษาไทย.
                </div>
              </div>
            </div>

            <div class="col-sm-4">
              <label for="uCarMotor" class="form-label">เลขตัวเครื่องรถยนต์</label>
              <div class="input-group has-validation">
                <span class="input-group-text">
                  <fa-icon [icon]="faCar"></fa-icon>
                </span>
                <input type="text" class="form-control" id="uCarMotor" ngModel formControlName="uCarMotor"
                  ngModel="{{_uCarMotor}}" value="{{_uCarMotor}}" placeholder="กรอกเลขตัวเครื่องรถยนต์">
              </div>
              <div
                *ngIf="angForm.controls['uCarMotor'].invalid && (angForm.controls['uCarMotor'].dirty || angForm.controls['uCarMotor'].touched)"
                class="text-danger">
                <div *ngIf="angForm.controls['uCarMotor'].errors?.['required']">
                  กรุณากรอกเลขตัวเครื่องรถยนต์.
                </div>
                <div *ngIf="angForm.controls['uCarMotor'].errors?.['pattern']">
                  ไม่อนุญาติกรอกภาษาไทย.
                </div>
              </div>
            </div>
          </div>
          <input type="text" class="d-none" id="uDataID" formControlName="uDataID" value="{{_uDataID}}"
            ngModel="{{_uDataID}}" readonly>
          <div class="col-sm-12 my-4">
            <div class="card">
              <div class="card-header">
                <h5 class="card-title m-0">เงื่อนไขและข้อตกลง</h5>
              </div>
              <div class="card-body">
                <p class="card-text">
                  • ข้าพเจ้าตกลงยินยอมระบุตัวตนและยืนยันตัวตนแท้จริงตามกฏหมายว่าด้วยการป้องกันและปราบปรามการฟอกเงิน
                </p>
                <p class="card-text">
                  • ข้าพเจ้าตกลงยินยอมให้ทางบริษัท โฟร์ อินชัวร์รันส์ โบรกเกอร์
                  จำกัด จัดเก็บข้อมูล
                  รวบรวม ใช้ และเปิดเผยข้อมูลข้างต้น ของข้าพเจ้าเพื่อให้จัดทำกรมธรรม์ประกันภัยรถยนต์ ของบริษัท
                  วิริยะประกันภัย จำกัด (มหาชน) และใช้ในการแจ้งสิทธิประโยชน์ในกรมธรรม์ประกันภัยของท่าน
                  และประชาสัมพันธ์ข้อมูลข่าวสารด้านประกันภัยที่เป็นประโยชน์ รวมถึงนำเสนอผลิตภัณฑ์และบริการต่างๆ
                  ของบริษัทฯ ในอนาคตผ่านช่องทางต่างๆ ของบริษัทฯ โดยพร้อมปฏิบัติตามกฏหมายว่าด้วยการคุ้มครองส่วนบุคคล
                </p>
                <p class="card-text">**ขอให้ท่านอ่านและทำความเข้าใจ "นโยบายความเป็นส่วนตัว" ของบริษัทฯ
                  เพื่อรับทราบถึงสิทธิต่างๆ ของท่าน และนโยบายของบริษัทฯ
                  ในการปฏิบัติตามประราชบัญญัติคุ้มครองข้อมูลส่วนบุคคล พ.ศ. 2562** <a
                    href="../{{imgUrl}}/assets/pdf/พ.ร.บ. คุ้มครองข้อมูลส่วนบุคคล 2562.PDF" class="text-decoration-none"
                    target="_blank">>>นโยบายความเป็นส่วนตัว</a>
                </p>
                <div class="form-check form-switch">
                  <input class="form-check-input" type="checkbox" id="uAcceptPolicy" formControlName="uAcceptPolicy" (change)="handleCheckPolicy($event)">
                  <label class="form-check-label" for="uAcceptPolicy">ข้าพเจ้ายอมรับเงื่อนไขและข้อตกลง นโยบายความเป็นส่วนตัว</label>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-12 text-end">
            <button class="btn btn-primary mx-2" type="submit" [attr.disabled]="!angForm.valid ? true : null">
              <fa-icon [icon]="faCheck"></fa-icon> ยินยอม
            </button>
            <button class="btn btn-secondary" type="reset" (click)="handleReject()">
              <fa-icon [icon]="faXmark"></fa-icon> ไม่ยินยอม
            </button>
          </div>
        </form>
      </div>
    </div>
  </main>
</div>
<ngx-loading [show]="loading" [config]="{
        animationType: ngxLoadingAnimationTypes.doubleBounce,
        primaryColour: primaryColour,
        secondaryColour: secondaryColour,
        backdropBorderRadius: '3px'
      }" [template]="loadingTemplate">
</ngx-loading>
