.container {
  max-width: 960px;
}

.header-bg {
  background: url(../../assets/img/SL_031721_41490_35.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 5px;
}

.container-bg {
  background: #fff;
  border-radius: 5px;
}
